Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, book, keyring, pku, lint, tests

.codecov.yml:

coverage:
  status:
    project:
      default: off
      piaplib:
        target: 80%
        flags: piaplib
        base: auto
        paths:
          - piaplib/
          - piaplib/lint
          - piaplib/pku
          - piaplib/keyring
          - piaplib/book
      piaplib.book:
        target: 90%
        flags: book
        base: auto
        paths:
          - piaplib/book
      piaplib.pku:
        target: 70%
        flags: pku
        base: auto
        paths:
          - piaplib/pku
      piaplib.lint:
        target: 70%
        flags: lint
        base: auto
        paths:
          - piaplib/lint
      piaplib.keyring:
        target: 90%
        flags: keyring
        base: auto
        paths:
          - piaplib/keyring
      tests:
        target: 80%
        flags: tests
        base: auto
        paths:
          - tests
  notify:
    slack:
      default:
        url: secret:RyYF2QemmISpOyoWnSEeRHbhHRBEV6dM07jBCvdGXsdUtyJjp6MOOPmnhBFJ1bfkwyncbf51Bu9bVa5atAyvehOAdrotKVkMbrm1U4GWFh+XEWXLDjywBSCXcVw+QL9gCBGljDoJcBs+5kLYTJfuoJ+Hty287xYWOgKLCvjXFKo=
        threshold: 2%
        only_pulls: false
        branches: null
        flags:
          - piaplib
          - tests
        paths:
          - piaplib/
          - piaplib/lint
          - piaplib/pku
          - piaplib/keyring
          - piaplib/book
          - tests/
flags:
  piaplib:
    paths:
      - piaplib/
      - piaplib/lint
      - piaplib/pku
      - piaplib/keyring
      - piaplib/book
  book:
    paths:
      - piaplib/book
  keyring:
    paths:
      - piaplib/keyring
  pku:
    paths:
      - piaplib/pku
  lint:
    paths:
      - piaplib/lint
  tests:
    paths:
      - tests/
    joined: false

investigating workaround for reactive-firewall/Pocket-PiAP#75
  .travis.yml
  requirements.txt
  tox.ini
Due: none

deprecated xcode 6.4 support in CI as part of reactive-firewall/Pocket-PiAP#75
  .travis.yml
  requirements.txt
Due: none

investigating regression workaround for reactive-firewall/Pocket-PiAP#75
  .travis.yml
Due: none

fix regression typo caused by 8c99116a03813c4c1ef132872a6eca781dfa9cae
  README.md
Due: none

add wait for updates on osx as part of #75
  .travis.yml
Due: none

dropped support for xcode6.4 as workaround for reactive-firewall/Pocket-PiAP#75
  .circleci/config.yml
  .stickler.yml
  .travis.yml
Due: none

fix A for PR#49 stickler
  tests/check_spelling
Due: tests

added fix B of PR#49 for stickeler
  tests/check_spelling
Due: tests

added fix c of PR#49 for braindead stickeler
  .stickler.yml
Due: none

added CI_* vars to tox env
  tox.ini
Due: none

fixed many typos and added spelling unittest
  .coveragerc
  .flake8.ini
  .travis.yml
  piaplib/__init__.py
  piaplib/book/version.py
  piaplib/keyring/clarify.py
  piaplib/keyring/keyring.py
  piaplib/keyring/rand.py
  piaplib/keyring/saltify.py
  piaplib/lint/check.py
  piaplib/lint/clients_check_status.py
  piaplib/lint/do_execve.py
  piaplib/lint/html_generator.py
  piaplib/lint/iface_check_status.py
  piaplib/lint/lint.py
  piaplib/lint/users_check_status.py
  piaplib/pku/interfaces.py
  piaplib/pku/pku.py
  piaplib/pku/remediation.py
  piaplib/pku/upgrade.py
  piaplib/pku/utils.py
  piaplib/pocket.py
  standards
  tests/check_spelling
  tests/test_enc.py
  tests/test_usage.py
  tox.ini
Due: piaplib, book, keyring, pku, lint, tests

fix for user check error leak part 1
  piaplib/lint/users_check_status.py
Due: piaplib, lint

fix for user check error leak part 2
  piaplib/lint/users_check_status.py
Due: piaplib, lint

fix for user check error leak part 3
  README.md
Due: none

slight improvement of test coverage by removing/ignoring dead-code #32
  .coveragerc
  README.md
  piaplib/book/version.py
Due: piaplib, book

slight improvement of test coverage by removing/ignoring dead-code #32 part 2
  piaplib/lint/html_generator.py
  tests/test_html.py
Due: piaplib, lint, tests

fixed a regression
  tests/test_html.py
Due: tests

fixed copy-paste-rush bug found by coverage tests #32
  docs/conf.py
  piaplib/lint/html_generator.py
  tests/test_html.py
Due: piaplib, lint, tests

added some test mocking for #32
  .travis.yml
  tests/mock/clients
Due: tests

updated upgrade path as part of #34
  piaplib/pku/pku.py
  piaplib/pku/upgrade.py
  requirements.txt
Due: piaplib, pku

work part of #34 upgrades
  piaplib/pku/pku.py
Due: piaplib, pku

renamed main functions
  piaplib/book/__main__.py
  piaplib/keyring/__main__.py
  piaplib/pku/__main__.py
Due: piaplib, book, keyring, pku

some testing improvements for #32 to fix coverage regression of #50
  .coveragerc
  .travis.yml
  piaplib/book/logs.py
  piaplib/pku/upgrade.py
  tests/test_usage.py
  tox.ini
Due: piaplib, book, pku, tests

added new test case for #50 coverage as part of #32
  tests/test_config.py
Due: tests

added fix for typo in new test case for #50 coverage as part of #32
  tests/test_config.py
Due: tests

work on #32 for linters
  tests/check_spelling
  tox.ini
Due: tests

tweak for git ignore
  .gitignore
  README.md
Due: none

workaround for travis CI braindead python 3.6 paths
  .travis.yml
  tox.ini
Due: none

workaround for travis CI build env
  .travis.yml
  tox.ini
Due: none

posible workaround for travis python builds failure
  .travis.yml
Due: none

new CI config
  .travis.yml
Due: none

#32 - slight increase to test coverage
  piaplib/lint/iface_check_status.py
Due: piaplib, lint

add python 3.8 support to tox
  tox.ini
Due: none

add python 3.8 support to tox
  .travis.yml
  piaplib/lint/iface_check_status.py
  tests/test_usage.py
Due: piaplib, lint, tests

fix for CI config typos
  tox.ini
Due: none

#32 - posible fix for CI python versions on mac OS X
  .travis.yml
  tox.ini
Due: none

added log dump for failed tox python
  Makefile
Due: none

#32 - considering removing do_execve.py as it might not be working
  piaplib/lint/do_execve.py
Due: piaplib, lint

#32 fixed regression of code style
  piaplib/lint/do_execve.py
Due: piaplib, lint
