Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, book, keyring, pku, lint, tests

Regression fix for stickler linter: https://github.com/reactive-firewall/PiAP-python-tools/pull/88/files#r392546124
  .stickler.yml
Due: none

Regression fix for deprecated python versions
  .travis.yml
Due: none

Regression fix for deprecated python versions part 2
  .coveragerc
Due: none

Regression fix for deprecated python versions part 3
  tox.ini
Due: none

More Test Env Config fixes
  .travis.yml
Due: none

More Tests via workflows
  .github/workflows/Tests.yml
Due: none

Version 0.4.3 - stability improvements
  piaplib/__init__.py
  piaplib/lint/do_execve.py
  piaplib/lint/iface_check_status.py
  piaplib/pku/interfaces.py
  piaplib/pku/remediation.py
  piaplib/pku/utils.py
  piaplib/pocket.py
  setup.cfg
  setup.py
  tests/check_PiAP_config
  tests/mock/dnsmasq.leases
  tests/profiling.py
  tests/test_salt.py
  tests/test_usage.py
  tests/test_utils.py
  tox.ini
Due: piaplib, pku, lint, tests

Version 0.4.3 - regression fixes
  tests/test_salt.py
Due: tests

Version 0.4.3 - regression fixes part 2
  tests/test_usage.py
Due: tests

Version 0.4.3 - regression fixes part 3
  .flake8.ini
  .hound.yml
  .stickler.yml
  .travis.yml
  Makefile
  piaplib/pku/__main__.py
  setup.cfg
  tests/check_spelling
  tests/test_book.py
Due: piaplib, pku, tests

Regression fix attempt
  .hound.yml
  .travis.yml
Due: none

Fixes for PR#88 thru PR#91 (braindead hound forces wrong linter)
  .hound.yml
  .travis.yml
  Makefile
  README.md
  tox.ini
Due: none

regression fix for stickler and hound fighting
  .hound.yml
Due: none

regression fix for upgrade path testing
  .travis.yml
Due: none

Changes in file .gitignore: added more exceptions
  .gitignore
Due: none

### ChangeLog: Changes in file Makefile: Unknown Changes
  Makefile
  tests/test_clients_check.py
Due: tests

Changes in file tests/context.py: Unknown Changes
  tests/context.py
  tests/test_usage.py
Due: tests

Changes in file .github/labeler.yml: Lable Action Configuration
  .github/labeler.yml
  .github/workflows/labler.yml
Due: none

HOTFIX C Changes in file tox.ini: fixed whitespace fixed python3 use for docs test
  tox.ini
Due: none

Changes in file tox.ini: deps config
  .github/labeler.yml
  .stickler.yml
  tox.ini
Due: none

### ChangeLog: Changes in file Makefile: build:
  Makefile
Due: none

### ChangeLog: Changes in file requirements.txt: Unknown Changes
  requirements.txt
Due: none

### ChangeLog: Changes in file requirements.txt: setuptools>=43.0.0
  requirements.txt
Due: none

### ChangeLog: Changes in file requirements.txt: virtualenv>=16.7.9
  requirements.txt
Due: none

Path conditions:
  piaplib: any of: piaplib/, piaplib/lint, piaplib/pku, piaplib/keyring, piaplib/book
  book: any of: piaplib/book
  keyring: any of: piaplib/keyring
  pku: any of: piaplib/pku
  lint: any of: piaplib/lint
  tests: any of: tests/
