Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, book, keyring, pku, lint, tests

#32 - debug regression fix
  piaplib/pku/baseconfig.py
Due: piaplib, pku

#80 regression
  .circleci/config.yml
Due: none

fix test regression
  .circleci/config.yml
Due: none

[skip ci]
  .circleci/config.yml
Due: none

CI config regression testing
  .circleci/config.yml
Due: none

encoding bug regression debugging
  piaplib/keyring/clarify.py
  tests/test_enc.py
Due: piaplib, keyring, tests

debug for CI
  tests/test_enc.py
Due: tests

revert tests
  tests/test_enc.py
Due: tests

improve clearify string handling
  piaplib/keyring/clarify.py
Due: piaplib, keyring

fix for test handling of strings
  tests/test_enc.py
Due: tests

debug for test handling of strings
  .circleci/config.yml
  tests/test_enc.py
Due: tests

debug for test handling of strings
  .circleci/config.yml
  .flake8.ini
  Makefile
  tox.ini
Due: none

debug for test handling of strings
  piaplib/keyring/clarify.py
  tests/test_enc.py
Due: piaplib, keyring, tests

debug this
  piaplib/keyring/clarify.py
  piaplib/pku/utils.py
  tests/test_enc.py
Due: piaplib, keyring, pku, tests

debug this test
  tests/test_enc.py
Due: tests

more debugging
  tests/test_enc.py
Due: tests

more debugging
  piaplib/keyring/__main__.py
  tests/test_enc.py
Due: piaplib, keyring, tests

debug this test
  .circleci/config.yml
  tests/test_enc.py
Due: tests

debug new test case
  piaplib/keyring/clarify.py
  piaplib/pku/utils.py
  setup.py
  tests/test_enc.py
Due: piaplib, keyring, pku, tests

debug new test case
  piaplib/keyring/clarify.py
Due: piaplib, keyring

debug new test case
  piaplib/keyring/clarify.py
  tests/test_enc.py
Due: piaplib, keyring, tests

CI Regression debug
  tests/test_enc.py
Due: tests

Fix for CI in broken python envs
  tests/test_enc.py
  tests/test_usage.py
Due: tests

improved testing for decodeing bug
  tests/test_enc.py
  tests/test_usage.py
Due: tests

improved testing for decodeing bug
  tests/test_usage.py
Due: tests

Fixed #82
  .circleci/config.yml
Due: none

Path conditions:
  piaplib: any of: piaplib/, piaplib/lint, piaplib/pku, piaplib/keyring, piaplib/book
  book: any of: piaplib/book
  keyring: any of: piaplib/keyring
  pku: any of: piaplib/pku
  lint: any of: piaplib/lint
  tests: any of: tests/
