Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, book, keyring, pku, lint, tests

#32 work on code coverage regression part 5 of many
  piaplib/pocket.py
Due: piaplib

#32 work on code coverage regression part 6 of many
  piaplib/pku/config.py
  tests/test_config.py
Due: piaplib, pku, tests

#32 work on code coverage regression part 6 of many
  piaplib/pku/remediation.py
Due: piaplib, pku

#32 minor work on code coverage for upgrade path
  piaplib/pku/upgrade.py
Due: piaplib, pku

#28 improved configuration testing
  piaplib/pku/config.py
  tests/test_config.py
Due: piaplib, pku, tests

#28 improved configuration testing
  piaplib/book/__init__.py
  piaplib/pku/config.py
  piaplib/pku/remediation.py
  piaplib/pocket.py
Due: piaplib, book, pku

unstable version debugging 1 of 3
  piaplib/pku/config.py
Due: piaplib, pku

unstable version debugging 2 of 3
  piaplib/pku/baseconfig.py
Due: piaplib, pku

unstable version debugging 3 of 3
  tests/test_config.py
Due: tests

#28 more debugging config cross-python regression
  Makefile
  piaplib/pku/baseconfig.py
  piaplib/pku/config.py
  tests/test_config.py
Due: piaplib, pku, tests

#32 fixed regression in python 2 support testing
  piaplib/pku/baseconfig.py
Due: piaplib, pku

#32 fixed regression in python 2 support testing - part 2 of 3
  tests/test_config.py
Due: tests

#32 fixed regression in python 2 support testing - part 3 of 3
  piaplib/pku/config.py
Due: piaplib, pku

#32 fixed regression bug in style
  piaplib/pku/config.py
Due: piaplib, pku

#32 fix for python 3.3 support
  .travis.yml
Due: none

fixing another regression bug for tox tests
  .travis.yml
Due: none

#70 improvements
  piaplib/pku/config.py
Due: piaplib, pku

#70 improvements style regression fix
  piaplib/pku/config.py
Due: piaplib, pku

#70 improvements stickler style workaround F841
  piaplib/pku/config.py
Due: piaplib, pku

#70 improved code coverage as part of #32 part 1
  .coveragerc
  piaplib/pku/config.py
  piaplib/pku/utils.py
  tests/test_utils.py
Due: piaplib, pku, tests

#28 improved configuration stability and testing
  piaplib/pku/config.py
  piaplib/pku/utils.py
Due: piaplib, pku

#28 improved configuration testing
  tests/test_config.py
Due: tests

added move file utility function
  piaplib/pku/utils.py
Due: piaplib, pku

#28 semi-stable config util
  piaplib/pku/config.py
Due: piaplib, pku

regression fix for travis CI
  .travis.yml
Due: none

regression fix
  .travis.yml
Due: none

regression fix
  .flake8.ini
  piaplib/pku/utils.py
Due: piaplib, pku

regression fix
  .circleci/config.yml
Due: none

regression fix
  .flake8.ini
Due: none

regression fix
  Makefile
Due: none

#32 updated travis config
  .travis.yml
Due: none

#32 updated travis config for ubuntu 16.04 testing
  .travis.yml
Due: none

#70 and #32 regression fix - updated code style a bit.
  piaplib/__init__.py
Due: piaplib

#70 and #32 regression fix - updated code style a bit.
  piaplib/book/__main__.py
Due: piaplib, book

#70 and #32 regression fix - updated code style a bit.
  piaplib/pku/__main__.py
Due: piaplib, pku

#70 and #32 regression fix - updated code style a bit.
  tests/test_enc.py
Due: tests

#70 regression bug for xenial builds
  piaplib/pku/interfaces.py
Due: piaplib, pku

#70 posible fix for comapre to litteral
  piaplib/lint/iface_check_status.py
Due: piaplib, lint

#70 & #32 fix for code style regression
  .travis.yml
  .yamllint.conf
Due: none

Path conditions:
  piaplib: any of: piaplib/, piaplib/lint, piaplib/pku, piaplib/keyring, piaplib/book
  book: any of: piaplib/book
  keyring: any of: piaplib/keyring
  pku: any of: piaplib/pku
  lint: any of: piaplib/lint
  tests: any of: tests/
