Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, book, keyring, pku, lint, tests

bumped requirement versions
  requirements.txt
  tox.ini
Due: none

improve relevant code filter in coverage
  .coveragerc
  piaplib/pku/__init__.py
  piaplib/pku/__main__.py
  tox.ini
Due: piaplib, pku

improve relevant code filter in coverage
  piaplib/pku/__init__.py
  piaplib/pku/__main__.py
Due: piaplib, pku

improve relevant code filter in coverage
  piaplib/pku/__init__.py
Due: piaplib, pku

improve relevant code filter in coverage
  piaplib/__init__.py
  piaplib/__main__.py
Due: piaplib

improve codestyle in utils
  piaplib/pku/utils.py
Due: piaplib, pku

improve codestyle in inport logic
  piaplib/lint/clients_check_status.py
  piaplib/pku/__init__.py
  piaplib/pku/__main__.py
  piaplib/pku/utils.py
  piaplib/pocket.py
Due: piaplib, pku, lint

improve codestyle in inport logic
  piaplib/lint/clients_check_status.py
  piaplib/pku/__init__.py
  piaplib/pku/__main__.py
  piaplib/pku/config.py
  piaplib/pku/remediation.py
  piaplib/pku/upgrade.py
  piaplib/pku/utils.py
  piaplib/pocket.py
Due: piaplib, pku, lint

CI regression fix
  tests/test_usage.py
Due: tests

updated travis CI config for new envs
  .travis.yml
  tox.ini
Due: none

updated test for debug
  tests/test_pocket.py
Due: tests

updated test config for debug
  .travis.yml
Due: none

updated test logic for mock config tests
  .travis.yml
  Makefile
  tests/check_PiAP_config
  tests/test_config.py
  tox.ini
Due: tests

updated test logic for failed tests
  tests/test_config.py
  tests/test_enc.py
Due: tests

updated test logic for failed tests - regression
  tests/test_enc.py
Due: tests

another attempt at upgrade testing in travisCI
  .travis.yml
Due: none

another attempt at upgrade testing in travisCI take 2
  .travis.yml
Due: none

another attempt at upgrade testing in travisCI take 3
  .travis.yml
Due: none

another attempt at upgrade testing in travisCI take 4
  .travis.yml
Due: none

another attempt at testing in travisCI take 5
  .circleci/config.yml
  .stickler.yml
  .travis.yml
  Makefile
  README.md
  tox.ini
Due: none

updated test config CI for curent stable envs
  .travis.yml
Due: none

Major testing re-org
  .coveragerc
  .flake8.ini
  .gitattributes
  Makefile
  piaplib/__init__.py
  piaplib/__main__.py
  piaplib/book/logs.py
  piaplib/pku/interfaces.py
  piaplib/pku/remediation.py
  piaplib/pku/utils.py
  piaplib/pocket.py
  requirements.txt
  setup.cfg
  setup.py
  standards
  tests/__init__.py
  tests/context.py
  tests/profiling.py
  tests/test_basic.py
  tests/test_book.py
  tests/test_clients_check.py
  tests/test_config.py
  tests/test_enc.py
  tests/test_html.py
  tests/test_interface.py
  tests/test_keyring.py
  tests/test_lint.py
  tests/test_lint_iface.py
  tests/test_lint_users.py
  tests/test_logs.py
  tests/test_pku.py
  tests/test_pocket.py
  tests/test_rand.py
  tests/test_salt.py
  tests/test_strings.py
  tests/test_usage.py
  tests/test_utils.py
  tests/test_version.py
  tox.ini
Due: piaplib, book, pku, tests

fix for CD
  setup.cfg
Due: none

updated configuration files tweaked recursive imports fixed CD tests
  .coveragerc
  .gitattributes
  Makefile
  piaplib/book/__init__.py
  piaplib/book/__main__.py
  piaplib/book/logs.py
  piaplib/book/version.py
  piaplib/pku/__init__.py
  piaplib/pku/utils.py
  piaplib/pocket.py
  setup.cfg
  setup.py
Due: piaplib, book, pku

regression-fix from missing change
  piaplib/pku/utils.py
Due: piaplib, pku

improved test coverage attempt
  .codecov.yml
  piaplib/pku/__init__.py
  tests/test_usage.py
Due: piaplib, pku, tests

regression fix
  piaplib/pku/__init__.py
Due: piaplib, pku

fix for cleanup rule
  Makefile
Due: none

Actions PoC test
  .github/workflows/Tests.yml
Due: none

Fix for 2 regression tests
  Makefile
  piaplib/keyring/clarify.py
  piaplib/lint/iface_check_status.py
  piaplib/pku/interfaces.py
  setup.cfg
  tests/test_enc.py
  tests/test_lint_iface.py
Due: piaplib, keyring, pku, lint, tests

fix for lint's linter errors (how meta)
  piaplib/lint/__init__.py
  piaplib/lint/iface_check_status.py
  piaplib/lint/lint.py
Due: piaplib, lint

Fix for utf-8 vs ascii decryption testing
  tests/test_enc.py
Due: tests

regression fix for circle-CI
  tests/test_enc.py
Due: tests

Regression fix for clarify.py broken tests Improved the python packaging config
  piaplib/keyring/clarify.py
  piaplib/keyring/rand.py
  piaplib/pku/utils.py
  setup.cfg
  tests/test_enc.py
Due: piaplib, keyring, pku, tests

Fix for style regressions
  piaplib/lint/iface_check_status.py
  piaplib/pku/__main__.py
  piaplib/pku/utils.py
  tests/test_lint.py
Due: piaplib, pku, lint, tests

Regression fix for travis CI
  .travis.yml
Due: none

Regression fix for whitespace bug: https://github.com/reactive-firewall/PiAP-python-tools/pull/88/files#diff-161c65d438d330a5a8428782bb4340e0R15
  .flake8.ini
Due: none

Path conditions:
  piaplib: any of: piaplib/, piaplib/lint, piaplib/pku, piaplib/keyring, piaplib/book
  book: any of: piaplib/book
  keyring: any of: piaplib/keyring
  pku: any of: piaplib/pku
  lint: any of: piaplib/lint
  tests: any of: tests/
