Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, book, keyring, pku, lint, tests

HOTFIX for testing cross platform soft failure for OS X tests
  tests/test_enc.py
Due: tests

fixed test regression bug as part of PR #30
  piaplib/keyring/rand.py
  piaplib/pku/utils.py
Due: piaplib, keyring, pku

minor update to lint main
  piaplib/lint/lint.py
Due: piaplib, lint

posible fix for transient rand error
  .gitignore
  README.md
  piaplib/pku/upgrade.py
  tests/test_usage.py
Due: piaplib, pku, tests

increased test coverage a little
  .coveragerc
  Makefile
  piaplib/pku/utils.py
  tests/test_utils.py
Due: piaplib, pku, tests

fixed typo
  tests/test_utils.py
Due: tests

Bumped version to 0.2.5 and slightly increased test coverage
  piaplib/__init__.py
  piaplib/book/logs.py
  piaplib/keyring/clearify.py
  piaplib/keyring/rand.py
  piaplib/lint/clients_check_status.py
  piaplib/lint/iface_check_status.py
  piaplib/lint/users_check_status.py
  piaplib/pku/utils.py
  setup.cfg
  setup.py
  tox.ini
Due: piaplib, book, keyring, pku, lint

increased test coverage
  piaplib/pocket.py
  tests/test_config.py
  tests/test_pocket.py
Due: piaplib, tests

increased coverage and added profiling util code for tests
  Makefile
  tests/__init__.py
  tests/profiling.py
  tests/test_html.py
  tests/test_rand.py
  tests/test_salt.py
  tests/test_usage.py
Due: tests

slightly increased html test coverage
  tests/test_html.py
Due: tests

Slight increase of test coverage for pocket
  piaplib/pocket.py
  tests/test_pocket.py
Due: piaplib, tests

just added some fixes for cross-platform test coverage #32
  piaplib/keyring/clearify.py
  piaplib/lint/users_check_status.py
  tests/profiling.py
  tests/test_enc.py
  tests/test_pocket.py
  tests/test_usage.py
Due: piaplib, keyring, lint, tests

testing coveralls code-coverage
  .gitignore
  .travis.yml
Due: none

add fix for dependancy conflict and retesting coveralls code-coverage #32
  .travis.yml
  README.md
Due: none

added posible workaround for coveralls and retesting coveralls code-coverage #32
  .travis.yml
Due: none

added posible extream workaround for coveralls and pyyaml conflict in order to retesting coveralls code-coverage #32
  .travis.yml
Due: none

added another posible extream workaround for coveralls and pyyaml conflict in order to retesting coveralls code-coverage #32 to fix PR #33
  .travis.yml
Due: none

- added fix for file io cross-python regression bug - refactored error breakpoints for use while debugging - fixed failing tests for #20
  Makefile
  piaplib/keyring/clearify.py
  piaplib/pku/remediation.py
  piaplib/pku/utils.py
  tests/test_enc.py
Due: piaplib, keyring, pku, tests

- added stickler CI configuration file as part of #32 - added some function for config files as part of #28
  .stickler.yml
  piaplib/pku/config.py
Due: piaplib, pku

added config fopr yaml lint
  .stickler.yml
  .yamllint
Due: none

debugging yamllint more for pr #36
  .stickler.yml
  .yamllint
Due: none

debugging yamllint more for pr #36
  .stickler.yml
Due: none

debugging stickler CI config for pr #36
  .stickler.yml
Due: none

more style debugging stickler CI config for pr #36
  .stickler.yml
  .yamllint
Due: none

more style debugging stickler CI config for pr #36
  .stickler.yml
Due: none

revert .stickler.yml
  .stickler.yml
Due: none

added test circleci
  .circleci/config.yml
Due: none

fix for style pep8
  tests/test_enc.py
Due: tests

fix for style lint to ignore otherwise working yaml
  .stickler.yml
  .yamllint
Due: none

part of #28 config start point - added new functions - added tests for new functions
  piaplib/lint/iface_check_status.py
  piaplib/pku/config.py
  piaplib/pku/interfaces.py
  standards
  tests/test_config.py
Due: piaplib, pku, lint, tests

awsome bug fix, not really, part of #28
  piaplib/pku/config.py
  tests/test_config.py
Due: piaplib, pku, tests

Fix for #38 bump version to 0.2.7
  docs/conf.py
  piaplib/__init__.py
  setup.cfg
  setup.py
Due: piaplib

fix for regression on code-style in config.py as part of PR #39 and #32
  piaplib/pku/config.py
Due: piaplib, pku

style fixes as part of #32
  Makefile
  piaplib/lint/clients_check_status.py
  piaplib/lint/html_generator.py
  piaplib/lint/iface_check_status.py
  piaplib/lint/users_check_status.py
  tests/test_basic.py
  tests/test_enc.py
  tests/test_salt.py
  tests/test_strings.py
  tests/test_usage.py
  tox.ini
Due: piaplib, lint, tests

added file name redaction functions
  piaplib/pku/utils.py
Due: piaplib, pku

Fix for #4 - version report
  piaplib/book/version.py
  piaplib/keyring/clearify.py
  piaplib/lint/clients_check_status.py
  piaplib/pku/remediation.py
  tests/__init__.py
  tests/test_clients_check.py
  tests/test_salt.py
  tests/test_usage.py
  tests/test_version.py
Due: piaplib, book, keyring, pku, lint, tests

Path conditions:
  piaplib: any of: piaplib/, piaplib/lint, piaplib/pku, piaplib/keyring, piaplib/book
  book: any of: piaplib/book
  keyring: any of: piaplib/keyring
  pku: any of: piaplib/pku
  lint: any of: piaplib/lint
  tests: any of: tests
