Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, book, keyring, pku, lint, tests

fix for python2-3 compatability
  piaplib/keyring/clarify.py
Due: piaplib, keyring

fix for ci no-install compatability
  .circleci/config.yml
Due: none

fix for circle CI mocking
  .circleci/config.yml
  piaplib/keyring/clarify.py
Due: piaplib, keyring

fix for circle CI mocking
  .circleci/config.yml
Due: none

# [skip ci] fix for circle CI mocking
  .circleci/config.yml
Due: none

Fix for Circle CI
  piaplib/pku/utils.py
Due: piaplib, pku

even more CI stability fixes
  .circleci/config.yml
  .travis.yml
  piaplib/keyring/clarify.py
  piaplib/pku/utils.py
  standards
  tests/test_enc.py
  tests/test_usage.py
Due: piaplib, keyring, pku, tests

posible fix for travis CI config
  .travis.yml
Due: none

debug fix for travis CI regression
  tests/test_pocket.py
  tests/test_usage.py
Due: tests

debug fix for travis CI regression
  tests/test_usage.py
Due: tests

wild debugging circle CI
  tests/test_usage.py
Due: tests

wild debugging on CI
  .travis.yml
Due: none

wild debug attempt again
  tests/test_enc.py
Due: tests

code style fix for last change
  tests/test_enc.py
Due: tests

reactive-firewall/Pocket-PiAP#93 - bumped version to 0.3.5
  docs/conf.py
  piaplib/__init__.py
  piaplib/book/version.py
  setup.cfg
  setup.py
  standards
Due: piaplib, book

#58 refactor
  piaplib/pku/baseconfig.py
Due: piaplib, pku

#58 squash regression bug
  piaplib/pku/baseconfig.py
Due: piaplib, pku

#32 cleaning up some more code
  piaplib/pku/__main__.py
  piaplib/pku/remediation.py
  piaplib/pku/upgrade.py
  piaplib/pku/utils.py
Due: piaplib, pku

[CI skip]
  piaplib/book/logs.py
Due: piaplib, book

[CI skip]
  piaplib/pku/remediation.py
Due: piaplib, pku

[CI skip] adding config functions
  piaplib/pku/baseconfig.py
Due: piaplib, pku

adding some more config functions
  piaplib/pku/config.py
Due: piaplib, pku

#28 configuration testing
  piaplib/pku/config.py
Due: piaplib, pku

#32 slightly better test cases
  .travis.yml
  Makefile
  tests/mock/dnsmasq.leases
Due: tests

#32 slightly less regression on config testing
  piaplib/book/logs.py
  piaplib/pku/baseconfig.py
  piaplib/pku/config.py
  tests/test_config.py
Due: piaplib, book, pku, tests

#32 slightly less regression on config style
  piaplib/pku/config.py
Due: piaplib, pku

#32 minor code clean up in clients check
  piaplib/lint/clients_check_status.py
Due: piaplib, lint

version bump
  docs/conf.py
  setup.cfg
  setup.py
Due: none

#32 minor test improvements
  piaplib/pku/config.py
  piaplib/pku/remediation.py
  tests/test_config.py
Due: piaplib, pku, tests

#32 work on code coverage regression part 1 of many
  piaplib/__init__.py
Due: piaplib

#32 work on code coverage regression part 3 of many
  piaplib/book/__init__.py
  piaplib/book/__main__.py
Due: piaplib, book

#32 work on code coverage regression part 4 of many
  piaplib/book/logs.py
Due: piaplib, book

Path conditions:
  piaplib: any of: piaplib/, piaplib/lint, piaplib/pku, piaplib/keyring, piaplib/book
  book: any of: piaplib/book
  keyring: any of: piaplib/keyring
  pku: any of: piaplib/pku
  lint: any of: piaplib/lint
  tests: any of: tests/
