Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, book, keyring, pku, lint, tests

random work on #28 and #32 ready to test
  Makefile
  piaplib/book/book.py
  piaplib/book/logs.py
  piaplib/keyring/saltify.py
  piaplib/lint/clients_check_status.py
  piaplib/lint/do_execve.py
  piaplib/lint/users_check_status.py
  piaplib/pku/baseconfig.py
  piaplib/pku/config.py
  piaplib/pku/utils.py
  tests/test_clients_check.py
  tests/test_config.py
  tests/test_pocket.py
Due: piaplib, book, keyring, pku, lint, tests

fix for regression of CI testing and work on #28 and #32
  piaplib/pku/baseconfig.py
  tests/test_config.py
Due: piaplib, pku, tests

improved coverage as part of #32
  piaplib/book/logs.py
  piaplib/keyring/keyring.py
  piaplib/keyring/rand.py
  piaplib/keyring/saltify.py
  tests/test_clients_check.py
  tests/test_keyring.py
  tests/test_rand.py
  tests/test_salt.py
  tests/test_usage.py
  tests/test_version.py
Due: piaplib, book, keyring, tests

added some more tests to improve test coverage as part of #32
  piaplib/keyring/clearify.py
  piaplib/keyring/rand.py
  tests/__init__.py
  tests/test_pku.py
  tests/test_rand.py
Due: piaplib, keyring, tests

Posible fix for #28
  piaplib/pku/__init__.py
  piaplib/pku/baseconfig.py
  piaplib/pku/config.py
  setup.py
  tests/test_config.py
Due: piaplib, pku, tests

slight improvement to test coverage for PR #41
  tests/test_config.py
Due: tests

HOTFIX for upgrade crash
  Makefile
  piaplib/pku/utils.py
  standards
  tests/test_utils.py
Due: piaplib, pku, tests

HOTFIX for upgrade crash part 2
  tests/test_utils.py
Due: tests

HOTFIX for upgrade crash part 3
  tests/test_utils.py
Due: tests

Work on #32 to increase Code Coverage of tests.
  .codecov.yml
  .coveragerc
  piaplib/book/book.py
  piaplib/book/logs.py
  piaplib/lint/clients_check_status.py
  tests/__init__.py
  tests/test_clients_check.py
  tests/test_logs.py
Due: piaplib, book, lint, tests

fixed style issue for #32
  tests/test_logs.py
Due: tests

- fixed some regression bugs found by CI for python27 - added some more test environments as part of #32
  .travis.yml
  piaplib/lint/clients_check_status.py
  tests/test_clients_check.py
  tests/test_logs.py
  tests/test_usage.py
Due: piaplib, lint, tests

added workaround for python3.3 log tests
  piaplib/keyring/rand.py
  tests/test_logs.py
Due: piaplib, keyring, tests

posible fix for cicle CI as part of #32
  .circleci/config.yml
  piaplib/__init__.py
  piaplib/lint/iface_check_status.py
  piaplib/pku/interfaces.py
  piaplib/pku/utils.py
  tests/test_usage.py
Due: piaplib, pku, lint, tests

fixed style regression caused by 2dc31e0 vs b9e76b5
  piaplib/pku/interfaces.py
  piaplib/pku/utils.py
Due: piaplib, pku

regression bugfix for work on #32
  .circleci/config.yml
  piaplib/keyring/clearify.py
  tests/test_enc.py
Due: piaplib, keyring, tests

fixed another circleCI regression bug
  tests/test_usage.py
Due: tests

fixed another circleCI regression bug as part of #32
  .circleci/config.yml
  tests/test_usage.py
Due: tests

create pyup.io config file
  .pyup.yml
Due: none

#44 & #46 initital config for .pyup.yml
  .pyup.yml
Due: none

posible fix for Circle CI failure as part of #32
  piaplib/keyring/clearify.py
Due: piaplib, keyring

DEBUG Circle CI SEEMINGIN IMPOSIBLE TEST STATE [Skip CI]
  tests/test_enc.py
Due: tests

delinting and debugging for #32
  .circleci/config.yml
  piaplib/keyring/clearify.py
  tests/test_enc.py
  tests/test_usage.py
Due: piaplib, keyring, tests

delinting for #32
  .circleci/config.yml
Due: none

debugging byte supported writing utils for #32
  .circleci/config.yml
  piaplib/pku/config.py
  piaplib/pku/utils.py
Due: piaplib, pku

debugging packtofile on circleCI as part of #32
  piaplib/keyring/clearify.py
Due: piaplib, keyring

debugging circleCI as part of #32
  piaplib/keyring/clearify.py
  piaplib/pku/utils.py
Due: piaplib, keyring, pku

debugging circleCI as part of #32 [SKIP CI]
  .circleci/config.yml
  piaplib/keyring/clearify.py
  tests/test_enc.py
Due: piaplib, keyring, tests

added some badges and more debugging circleCI as part of #32 [SKIP CI]
  README.md
  piaplib/keyring/clearify.py
Due: piaplib, keyring

debugging circleCI workaround as part of #32 and PR #43
  .circleci/config.yml
  tests/test_enc.py
Due: tests

style regression fix for PR #43
  tests/test_enc.py
Due: tests

improved code coverage slightly as part of #32
  .circleci/config.yml
  piaplib/book/book.py
  piaplib/lint/clients_check_status.py
  piaplib/lint/iface_check_status.py
  piaplib/lint/lint.py
  piaplib/pku/upgrade.py
  tests/__init__.py
Due: piaplib, book, pku, lint, tests

added notification to codecov
  .codecov.yml
Due: none

added more workarounds for depends after new trusty image update on travis
  .travis.yml
  README.md
  setup.cfg
  setup.py
Due: none

#32 added spell check to tests
  Makefile
  tests/check_spelling
Due: tests

minor change
  .circleci/config.yml
Due: none

more work on fixing travis env changes #32
  .travis.yml
  Makefile
  docs/conf.py
  tox.ini
Due: none

added debug info output for brain-dead CI env debugging of python3.5
  .travis.yml
Due: none

Path conditions:
  piaplib: any of: piaplib/, piaplib/lint, piaplib/pku, piaplib/keyring, piaplib/book
  book: any of: piaplib/book
  keyring: any of: piaplib/keyring
  pku: any of: piaplib/pku
  lint: any of: piaplib/lint
  tests: any of: tests
