Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, tests

.codecov.yml:

coverage:
  status:
    project:
      default: off
      piaplib:
        target: 45%
        flags: piaplib
      tests:
        target: 50%
        flags: tests

flags:
  piaplib:
    paths:
      - piaplib/
      - piaplib/lint
      - piaplib/pku
      - piaplib/keyring
  tests:
    paths:
      - tests/

fix for unexpected behavior in piaplib.lint.check for #26
  piaplib/lint/check.py
Due: piaplib

added ignore rule for crash testing as part of #26
  .gitignore
Due: none

- added special case lint and book tests - increased test coverage to help debug #26 - attempted to debug #26 - added py37 to tox test cases
  Makefile
  piaplib/keyring/rand.py
  piaplib/keyring/saltify.py
  piaplib/lint/check.py
  piaplib/pku/remediation.py
  tests/__init__.py
  tests/test_book.py
  tests/test_lint.py
  tests/test_rand.py
  tox.ini
Due: piaplib, tests

added error handling to memoization decorator
  piaplib/keyring/saltify.py
Due: piaplib

clean up changes pep8 style for #26
  tests/test_rand.py
Due: tests

added lots of debug fixes as part of #26
  Makefile
  piaplib/book/book.py
  piaplib/book/logs.py
  piaplib/pku/pku.py
  piaplib/pku/remediation.py
  piaplib/pku/utils.py
  requirements.txt
  tests/__init__.py
  tests/test_basic.py
  tests/test_interface.py
  tests/test_salt.py
  tests/test_usage.py
  tests/test_utils.py
Due: piaplib, tests

added lots of debug fixes as part of #26
  Makefile
  piaplib/pku/config.py
Due: piaplib

added lots of debug fixes as part of #26
  tests/test_interface.py
Due: tests

added lots of debug fixes as part of #26
  tox.ini
Due: none

added lots of debug fixes as part of #26
  piaplib/pku/interfaces.py
  tests/test_interface.py
Due: piaplib, tests

debugging for #26
  .codecov.yml
  tests/test_interface.py
Due: tests

debugging for #26
  tests/test_config.py
Due: tests

debugging for #26
  requirements.txt
  tox.ini
Due: none

debugging for #26
  .travis.yml
Due: none

clean up pep8 style
  piaplib/book/book.py
  piaplib/lint/clients_check_status.py
  tests/test_usage.py
Due: piaplib, tests

#20 added random passphrase functions for data at rest
  piaplib/keyring/rand.py
  tests/test_usage.py
Due: piaplib, tests

#20 added functions for encryption and decryption of data.
  piaplib/keyring/clearify.py
  piaplib/keyring/rand.py
  piaplib/pku/config.py
  piaplib/pku/interfaces.py
  requirements.txt
  tests/test_usage.py
Due: piaplib, tests

#20 use cryptography
  .travis.yml
  piaplib/keyring/clearify.py
  requirements.txt
  tests/test_usage.py
  tox.ini
Due: piaplib, tests

#20 use cryptography (typo fix)
  .travis.yml
  tox.ini
Due: none

#20 use cryptography (typo fix)
  .travis.yml
Due: none

#20 possible bugfix for cryptography build failures
  Makefile
  piaplib/keyring/clearify.py
  requirements.txt
  tests/test_usage.py
Due: piaplib, tests

#20 possible HOTFIX for encryption.
  Makefile
  piaplib/keyring/clearify.py
  requirements.txt
  tests/test_usage.py
Due: piaplib, tests

#20 possible HOTFIX for encryption.
  Makefile
Due: none

#20 possible HOTFIX for encryption.
  piaplib/keyring/clearify.py
Due: piaplib

#20 possible HOTFIX for encryption.
  piaplib/pku/config.py
  piaplib/pku/utils.py
  tests/test_config.py
Due: piaplib, tests

hotfix debugging for #20 - improved testing output, re-testing via CI
  Makefile
  piaplib/keyring/rand.py
  piaplib/pku/config.py
  standards
  tests/test_config.py
  tests/test_salt.py
  tox.ini
Due: piaplib, tests

debugging tests for possible fix for #20
  .travis.yml
  Makefile
  piaplib/keyring/rand.py
  tests/test_config.py
  tox.ini
Due: piaplib, tests

debugging tests for possible fix for #20
  tox.ini
Due: none

improvements as part of PR #29
  .travis.yml
  piaplib/lint/users_check_status.py
  setup.py
  tests/test_config.py
  tests/test_usage.py
Due: piaplib, tests

minor fixes as part of PR #29
  tests/test_rand.py
  tests/test_usage.py
  tox.ini
Due: tests

minor fix for failed test as part of PR #29
  piaplib/lint/users_check_status.py
  tests/test_usage.py
Due: piaplib, tests

more minor changes as part of PR #29
  piaplib/lint/users_check_status.py
  tests/test_usage.py
Due: piaplib, tests

improved coverage and test passing on mac OS X as part of PR #29
  .codecov.yml
  .travis.yml
  piaplib/keyring/clearify.py
  piaplib/lint/clients_check_status.py
  piaplib/lint/users_check_status.py
  piaplib/pku/utils.py
  tests/test_enc.py
  tests/test_rand.py
Due: piaplib, tests

test of coverage in tox as part of PR #29
  tox.ini
Due: none

#20 enabled salting in clearify.py and added stable test of salted encryption.
  piaplib/keyring/clearify.py
  tests/test_usage.py
Due: piaplib, tests

improved coverage as part of PR #29
  tests/test_enc.py
  tests/test_usage.py
Due: tests

fixed typo of missing error passing for mac OS X test cases of clearify as part of PR #29
  .coveragerc
  tests/test_usage.py
  tox.ini
Due: tests

minor changes to fix unexpected test failure. And removed try-catch for already ignored warnings
  .codecov.yml
  piaplib/pku/upgrade.py
  tests/test_usage.py
Due: piaplib, tests

improved some test coverage as prep for #28
  .coveragerc
  piaplib/keyring/clearify.py
  tests/test_enc.py
Due: piaplib, tests

HOTFIX for testing cross platform soft failure for OS X tests
  tests/test_enc.py
Due: tests
