Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, book, keyring, pku, lint, tests

.codecov.yml:

coverage:
  status:
    project:
      default: off
      piaplib:
        target: 80%
        flags: piaplib
        base: auto
        paths:
          - piaplib/
          - piaplib/lint
          - piaplib/pku
          - piaplib/keyring
          - piaplib/book
      piaplib.book:
        target: 90%
        flags: book
        base: auto
        paths:
          - piaplib/book
      piaplib.pku:
        target: 70%
        flags: pku
        base: auto
        paths:
          - piaplib/pku
      piaplib.lint:
        target: 70%
        flags: lint
        base: auto
        paths:
          - piaplib/lint
      piaplib.keyring:
        target: 90%
        flags: keyring
        base: auto
        paths:
          - piaplib/keyring
      tests:
        target: 80%
        flags: tests
        base: auto
        paths:
          - tests
  notify:
    slack:
      default:
        url: secret:RyYF2QemmISpOyoWnSEeRHbhHRBEV6dM07jBCvdGXsdUtyJjp6MOOPmnhBFJ1bfkwyncbf51Bu9bVa5atAyvehOAdrotKVkMbrm1U4GWFh+XEWXLDjywBSCXcVw+QL9gCBGljDoJcBs+5kLYTJfuoJ+Hty287xYWOgKLCvjXFKo=
        threshold: 2%
        only_pulls: false
        branches: null
        flags:
          - piaplib
          - tests
        paths:
          - piaplib/
          - piaplib/lint
          - piaplib/pku
          - piaplib/keyring
          - piaplib/book
          - tests/
flags:
  piaplib:
    paths:
      - piaplib/
      - piaplib/lint
      - piaplib/pku
      - piaplib/keyring
      - piaplib/book
  book:
    paths:
      - piaplib/book
  keyring:
    paths:
      - piaplib/keyring
  pku:
    paths:
      - piaplib/pku
  lint:
    paths:
      - piaplib/lint
  tests:
    paths:
      - tests/
    joined: false

partial fix for xeneal test case
  piaplib/pku/interfaces.py
Due: piaplib, pku

partial fix for cyclic import in piaplib.book
  piaplib/book/__main__.py
Due: piaplib, book

partial fix for cyclic import in piaplib.book part 2
  piaplib/pku/__init__.py
Due: piaplib, pku

partial fix for cyclic import in piaplib.book part 2
  piaplib/book/__main__.py
Due: piaplib, book

regression fix
  piaplib/__init__.py
  piaplib/book/ANSIColors.py
  piaplib/pku/__init__.py
  piaplib/pku/baseconfig.py
  piaplib/pku/compile_interface.py
  piaplib/pku/config.py
  piaplib/pku/interfaces.py
  piaplib/pku/remediation.py
  piaplib/pku/upgrade.py
  piaplib/pku/utils.py
Due: piaplib, book, pku

attempt to reduce cyclic imports
  piaplib/book/logs.py
  piaplib/book/version.py
  piaplib/keyring/__main__.py
  piaplib/keyring/clarify.py
  piaplib/keyring/rand.py
  piaplib/pku/__main__.py
  piaplib/pku/compile_interface.py
  piaplib/pku/config.py
  piaplib/pku/interfaces.py
  piaplib/pku/upgrade.py
Due: piaplib, book, keyring, pku

attempt to reduce cyclic imports
  piaplib/book/__main__.py
  piaplib/book/version.py
  piaplib/pku/__main__.py
  piaplib/pku/remediation.py
  piaplib/pku/upgrade.py
  piaplib/pku/utils.py
Due: piaplib, book, pku

attempt to reduce cyclic imports
  piaplib/book/__main__.py
Due: piaplib, book

attempt to reduce some test complexity
  piaplib/__init__.py
  piaplib/__main__.py
  piaplib/book/__main__.py
  piaplib/book/logs.py
  piaplib/pku/__main__.py
  piaplib/pku/baseconfig.py
  piaplib/pku/compile_interface.py
  piaplib/pku/config.py
  piaplib/pku/interfaces.py
  piaplib/pku/remediation.py
  piaplib/pku/upgrade.py
  piaplib/pku/utils.py
  piaplib/pocket.py
  tests/test_usage.py
Due: piaplib, book, pku, tests

attempt to reduce cyclic imports
  piaplib/__init__.py
  piaplib/__main__.py
  piaplib/book/ANSIColors.py
  piaplib/book/__init__.py
Due: piaplib, book

attempt to reduce cyclic imports
  piaplib/__init__.py
  piaplib/__main__.py
  piaplib/book/ANSIColors.py
  piaplib/book/__main__.py
  piaplib/book/logs.py
  piaplib/book/version.py
  piaplib/pku/__main__.py
  piaplib/pku/baseconfig.py
  piaplib/pku/compile_interface.py
  piaplib/pku/config.py
  piaplib/pku/interfaces.py
  piaplib/pku/remediation.py
  piaplib/pku/upgrade.py
  piaplib/pku/utils.py
  piaplib/pocket.py
Due: piaplib, book, pku

attempt to reduce cyclic imports
  piaplib/__init__.py
  piaplib/pocket.py
Due: piaplib

regression fix for pocket help order
  piaplib/pocket.py
Due: piaplib

PR #75 fix for code style regression
  .coveragerc
  piaplib/__init__.py
  piaplib/__main__.py
  piaplib/book/ANSIColors.py
  piaplib/book/__init__.py
  piaplib/book/__main__.py
  piaplib/book/logs.py
  piaplib/book/version.py
  piaplib/keyring/__init__.py
  piaplib/pku/__init__.py
  piaplib/pku/__main__.py
  piaplib/pku/baseconfig.py
  piaplib/pku/compile_interface.py
  piaplib/pku/config.py
  piaplib/pku/interfaces.py
  piaplib/pku/remediation.py
  piaplib/pku/upgrade.py
  piaplib/pku/utils.py
  tox.ini
Due: piaplib, book, keyring, pku

PR #75 fix for code style regression
  piaplib/pku/config.py
Due: piaplib, pku

PR #75 fix for code style regression
  .coveragerc
  piaplib/book/ANSIColors.py
  piaplib/book/__main__.py
  piaplib/book/logs.py
  tox.ini
Due: piaplib, book

PR #75 fix for code style regression
  piaplib/book/logs.py
Due: piaplib, book

PR #75 fix for code style regression
  piaplib/book/logs.py
  tests/test_usage.py
Due: piaplib, book, tests

PR #33 bug fix for iface typo
  tests/test_usage.py
Due: tests

#32 fix for regression on string encoding
  .circleci/config.yml
  tests/test_enc.py
Due: tests

regression fix
  piaplib/pku/__main__.py
  piaplib/pku/interfaces.py
  tests/test_usage.py
Due: piaplib, pku, tests

regression hotfix
  piaplib/keyring/__main__.py
  piaplib/keyring/clarify.py
  tests/test_enc.py
Due: piaplib, keyring, tests

regression hotfix
  piaplib/keyring/rand.py
  piaplib/keyring/saltify.py
Due: piaplib, keyring

regression hotfix
  tests/test_salt.py
Due: tests

#32 Cleaned up Code-Style a bunch
  piaplib/keyring/clarify.py
Due: piaplib, keyring

regression fixes
  piaplib/__init__.py
  tests/test_usage.py
Due: piaplib, tests

regression fixes
  piaplib/keyring/clarify.py
  tests/test_enc.py
Due: piaplib, keyring, tests

regression fix for ascii interpretation of utf-8 ciphertext
  piaplib/keyring/clarify.py
  tests/test_enc.py
Due: piaplib, keyring, tests

regression fix for ascii interpretation of utf-8 ciphertext
  tests/test_enc.py
Due: tests

#79 regresion fix
  piaplib/keyring/clarify.py
Due: piaplib, keyring

#73 regression fix
  tests/test_enc.py
Due: tests

#73 regression debug
  tests/test_enc.py
Due: tests

fix for test regression
  piaplib/pku/utils.py
Due: piaplib, pku

#32 - encryption regression fix
  piaplib/keyring/clarify.py
  piaplib/pku/baseconfig.py
  piaplib/pku/remediation.py
  piaplib/pku/utils.py
  tests/test_enc.py
  tests/test_usage.py
Due: piaplib, keyring, pku, tests
