Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, book, keyring, pku, lint, tests

.codecov.yml:

coverage:
  status:
    project:
      default: off
      piaplib:
        target: 80%
        flags: piaplib
        base: auto
        paths:
          - piaplib/
          - piaplib/lint
          - piaplib/pku
          - piaplib/keyring
          - piaplib/book
      piaplib.book:
        target: 90%
        flags: book
        base: auto
        paths:
          - piaplib/book
      piaplib.pku:
        target: 70%
        flags: pku
        base: auto
        paths:
          - piaplib/pku
      piaplib.lint:
        target: 70%
        flags: lint
        base: auto
        paths:
          - piaplib/lint
      piaplib.keyring:
        target: 90%
        flags: keyring
        base: auto
        paths:
          - piaplib/keyring
      tests:
        target: 80%
        flags: tests
        base: auto
        paths:
          - tests
  notify:
    slack:
      default:
        url: secret:RyYF2QemmISpOyoWnSEeRHbhHRBEV6dM07jBCvdGXsdUtyJjp6MOOPmnhBFJ1bfkwyncbf51Bu9bVa5atAyvehOAdrotKVkMbrm1U4GWFh+XEWXLDjywBSCXcVw+QL9gCBGljDoJcBs+5kLYTJfuoJ+Hty287xYWOgKLCvjXFKo=
        threshold: 2%
        only_pulls: false
        branches: null
        flags:
          - piaplib
          - tests
        paths:
          - piaplib/
          - piaplib/lint
          - piaplib/pku
          - piaplib/keyring
          - piaplib/book
          - tests/
flags:
  piaplib:
    paths:
      - piaplib/
      - piaplib/lint
      - piaplib/pku
      - piaplib/keyring
      - piaplib/book
  book:
    paths:
      - piaplib/book
  keyring:
    paths:
      - piaplib/keyring
  pku:
    paths:
      - piaplib/pku
  lint:
    paths:
      - piaplib/lint
  tests:
    paths:
      - tests/
    joined: false

#32 slightly reduced warnings about backwards compatibility
  piaplib/pku/config.py
  piaplib/pku/upgrade.py
Due: piaplib, pku

#32 abstracted redundancy logic to sanitizeCount(count) in keeping with the maintainable Don't Repeat Yourself principle
  piaplib/keyring/rand.py
Due: piaplib, keyring

#32 reducing redundant code
  piaplib/lint/iface_check_status.py
  tests/test_lint_iface.py
Due: piaplib, lint, tests

reactive-firewall/Pocket-PiAP#84 and #32 - fix for regression on dependancy updates that broke CI with a false positive
  requirements.txt
Due: none

#32 and #53 - slight increas in code coverage
  tests/test_config.py
Due: tests

#32 and #53 - slight increase in code coverage
  tests/test_config.py
Due: tests

#53 minor change to reduce dead-code
  piaplib/lint/iface_check_status.py
Due: piaplib, lint

added terse notes to find info in how to join the beta
  README.md
Due: none

#53 fixes for CI and cornercase on Mac OS X for forked threads
  .codecov.yml
  .travis.yml
  Makefile
  piaplib/__main__.py
  piaplib/lint/do_execve.py
  piaplib/pku/baseconfig.py
  tests/check_codecov_config
  tests/test_lint_iface.py
  tests/test_usage.py
Due: piaplib, pku, lint, tests

fix for regression bug
  piaplib/lint/do_execve.py
Due: piaplib, lint

#32 fixed CWE-20 bug of missed input tainting
  piaplib/lint/users_check_status.py
Due: piaplib, lint

testing refactor - unstable
  piaplib/lint/clients_check_status.py
  piaplib/lint/do_execve.py
  piaplib/lint/iface_check_status.py
  piaplib/lint/users_check_status.py
  piaplib/pku/utils.py
  tests/test_utils.py
Due: piaplib, pku, lint, tests

fixed regression when moving util function to utils.py
  piaplib/pku/utils.py
Due: piaplib, pku

debugging regression
  piaplib/lint/clients_check_status.py
  piaplib/lint/do_execve.py
  piaplib/lint/iface_check_status.py
  piaplib/lint/users_check_status.py
  piaplib/pku/utils.py
  requirements.txt
  tests/test_usage.py
Due: piaplib, pku, lint, tests

#32 cleaning up corner case on braindead Mac OS (with python 3 https fails often)
  tests/test_utils.py
Due: tests

#32 fixed a regression
  piaplib/lint/users_check_status.py
  piaplib/pku/utils.py
Due: piaplib, pku, lint

#32 slight improve code quality and coverage
  piaplib/pku/compile_interface.py
Due: piaplib, pku

part 1 of 2
  Makefile
  piaplib/keyring/__main__.py
  piaplib/keyring/clarify.py
  piaplib/keyring/rand.py
  piaplib/keyring/saltify.py
  piaplib/lint/__init__.py
  piaplib/lint/check.py
  piaplib/lint/clients_check_status.py
  piaplib/lint/do_execve.py
  piaplib/lint/html_generator.py
  piaplib/lint/iface_check_status.py
  piaplib/lint/users_check_status.py
  piaplib/pku/__init__.py
  piaplib/pku/__main__.py
  piaplib/pku/baseconfig.py
  piaplib/pku/compile_interface.py
  piaplib/pku/config.py
  piaplib/pku/interfaces.py
  piaplib/pku/remediation.py
  piaplib/pku/upgrade.py
  piaplib/pku/utils.py
  requirements.txt
  tests/__init__.py
  tests/test_enc.py
  tests/test_usage.py
Due: piaplib, keyring, pku, lint, tests

#32 added more tests and cleaned up code a bit - rushed part 2 of 2
  tests/test_enc.py
Due: tests

#32 added more tests and cleaned up code a bit - 3 of 2
  tests/test_enc.py
Due: tests

#32 fixed whitespace regression
  tests/test_enc.py
Due: tests

modified: piaplib/keyring/__main__.py - [x] reduce cognitive complexity of tooling function. More to be generalized.
  piaplib/keyring/__main__.py
Due: piaplib, keyring

- modified: piaplib/lint/do_execve.py
  piaplib/lint/do_execve.py
Due: piaplib, lint

modified: piaplib/book/logs.py modified: piaplib/keyring/clarify.py modified: piaplib/pku/baseconfig.py modified: piaplib/pku/config.py modified: standards
  piaplib/book/logs.py
  piaplib/keyring/clarify.py
  piaplib/pku/baseconfig.py
  piaplib/pku/config.py
  standards
Due: piaplib, book, keyring, pku

(#28) - regression fix File Changes to be committed: - modified: piaplib/pku/config.py - modified: tests/test_config.py
  piaplib/pku/config.py
  tests/test_config.py
Due: piaplib, pku, tests

#32 a little more code coverage
  piaplib/book/version.py
  tests/context.py
  tests/test_clients_check.py
  tests/test_enc.py
  tests/test_lint_iface.py
Due: piaplib, book, tests

minor regex simplification - rethink regex complexity Changes to be committed: modified: piaplib/pku/utils.py
  piaplib/pku/utils.py
Due: piaplib, pku

reactive-firewall/Pocket-PiAP#84 minor update
  requirements.txt
  tox.ini
Due: none

reactive-firewall/Pocket-PiAP#84 and reactive-firewall/PiAP-python-tools#32 - minor stability update.
  Makefile
  piaplib/pku/__main__.py
  piaplib/pku/upgrade.py
  tests/test_lint_iface.py
  tests/test_usage.py
Due: piaplib, pku, tests

reactive-firewall/Pocket-PiAP#84 and reactive-firewall/PiAP-python-tools#32 - minor error handling fix.
  piaplib/pocket.py
Due: piaplib

regression fix
  tests/test_lint_iface.py
Due: tests

reactive-firewall/Pocket-PiAP#84
  piaplib/pku/interfaces.py
  tests/test_lint_iface.py
Due: piaplib, pku, tests

debugging regression
  tests/test_lint_iface.py
Due: tests

fixing a regression
  piaplib/lint/iface_check_status.py
Due: piaplib, lint

fixing another regression
  piaplib/lint/iface_check_status.py
Due: piaplib, lint

reactive-firewall/Pocket-PiAP#84 debugging CI
  .travis.yml
Due: none

reactive-firewall/Pocket-PiAP#84 debugging CI
  tests/test_lint_iface.py
Due: tests

reactive-firewall/Pocket-PiAP#84 debugging CI and drive-by fixes
  piaplib/keyring/clarify.py
  piaplib/lint/users_check_status.py
  piaplib/pku/baseconfig.py
  piaplib/pku/config.py
  piaplib/pku/remediation.py
  standards
  tests/test_enc.py
Due: piaplib, keyring, pku, lint, tests

reactive-firewall/Pocket-PiAP#84 debugging CI and drive-by fixes
  piaplib/pku/interfaces.py
  piaplib/pku/utils.py
Due: piaplib, pku

reactive-firewall/Pocket-PiAP#84 debugging CI and drive-by fixes
  piaplib/lint/iface_check_status.py
  piaplib/pku/interfaces.py
  piaplib/pku/utils.py
Due: piaplib, pku, lint
