Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, book, keyring, pku, lint, tests

.codecov.yml:

coverage:
  status:
    project:
      default: off
      piaplib:
        target: 80%
        flags: piaplib
        base: auto
        paths:
          - piaplib/
          - piaplib/lint
          - piaplib/pku
          - piaplib/keyring
          - piaplib/book
      piaplib.book:
        target: 90%
        flags: book
        base: auto
        paths:
          - piaplib/book
      piaplib.pku:
        target: 70%
        flags: pku
        base: auto
        paths:
          - piaplib/pku
      piaplib.lint:
        target: 70%
        flags: lint
        base: auto
        paths:
          - piaplib/lint
      piaplib.keyring:
        target: 90%
        flags: keyring
        base: auto
        paths:
          - piaplib/keyring
      tests:
        target: 80%
        flags: tests
        base: auto
        paths:
          - tests
  notify:
    slack:
      default:
        url: secret:RyYF2QemmISpOyoWnSEeRHbhHRBEV6dM07jBCvdGXsdUtyJjp6MOOPmnhBFJ1bfkwyncbf51Bu9bVa5atAyvehOAdrotKVkMbrm1U4GWFh+XEWXLDjywBSCXcVw+QL9gCBGljDoJcBs+5kLYTJfuoJ+Hty287xYWOgKLCvjXFKo=
        threshold: 2%
        only_pulls: false
        branches: null
        flags:
          - piaplib
          - tests
        paths:
          - piaplib/
          - piaplib/lint
          - piaplib/pku
          - piaplib/keyring
          - piaplib/book
          - tests/
flags:
  piaplib:
    paths:
      - piaplib/
      - piaplib/lint
      - piaplib/pku
      - piaplib/keyring
      - piaplib/book
  book:
    paths:
      - piaplib/book
  keyring:
    paths:
      - piaplib/keyring
  pku:
    paths:
      - piaplib/pku
  lint:
    paths:
      - piaplib/lint
  tests:
    paths:
      - tests/
    joined: false

#70 & #32 fix for code style regression
  .travis.yml
  .yamllint.conf
Due: none

#32 updated copyright typo [Skip CI]
  tests/test_interface.py
Due: tests

#70 workaround for xenial interface names
  piaplib/pku/interfaces.py
  requirements.txt
Due: piaplib, pku

regression fix for xenial beta tests
  .travis.yml
Due: none

#70 another regression fix for xenial beta tests
  piaplib/pku/interfaces.py
Due: piaplib, pku

#70 fixed README badges
  README.md
Due: none

#70 & #32 posible improvement to test coverage
  tests/test_usage.py
Due: tests

#70 & #32 posible improvement to test coverage - regression fix
  tests/test_usage.py
Due: tests

#70 regression fix for python 3.3
  piaplib/pku/interfaces.py
  requirements.txt
Due: piaplib, pku

#70 regression fix for code style
  piaplib/pku/interfaces.py
Due: piaplib, pku

#70 regression fix for travis CI
  piaplib/pku/utils.py
Due: piaplib, pku

#70 & #32 fixed a typo
  piaplib/pku/utils.py
Due: piaplib, pku

#70 & #32 posible fix for python 3.3
  piaplib/pku/utils.py
Due: piaplib, pku

#70 & #32 posible fix for python 3.3 urllib
  piaplib/pku/utils.py
Due: piaplib, pku

#70 & #32 posible fix for python 3.3 urllib [Skip CI]
  piaplib/pku/utils.py
Due: piaplib, pku

#70 & #32 Fix for python 3.3 and 3.2 urllib vs requests use
  Makefile
Due: none

#32 posible fix for python url test case
  piaplib/pku/utils.py
Due: piaplib, pku

#32 posible fix for python url test case - regression fix
  piaplib/pku/utils.py
Due: piaplib, pku

#32 posible fix for code style regression
  piaplib/pku/utils.py
Due: piaplib, pku

#32 posible workaround for ubuntu 16.04 LTS CI tests
  tests/test_lint_iface.py
  tests/test_usage.py
Due: tests

#56 & #32 improved code style
  piaplib/lint/users_check_status.py
Due: piaplib, lint

#56 & #32 improved code style
  piaplib/lint/html_generator.py
Due: piaplib, lint

#56 & #32 improved code style
  tests/test_html.py
Due: tests

#32 improved code style
  piaplib/pku/baseconfig.py
  piaplib/pku/interfaces.py
  tests/test_usage.py
Due: piaplib, pku, tests

#74 Version 0.3.9 Beta
  docs/conf.py
  setup.cfg
  setup.py
  tests/test_usage.py
Due: tests

Version Bump part 1
  docs/conf.py
  piaplib/__init__.py
  piaplib/__main__.py
  piaplib/book/__init__.py
  piaplib/book/__main__.py
  piaplib/book/version.py
  piaplib/pku/__init__.py
  piaplib/pocket.py
  setup.cfg
  setup.py
Due: piaplib, book, pku

fix for version function and cleaned up imports a little
  .gitattributes
  piaplib/__init__.py
  piaplib/__main__.py
  piaplib/book/__init__.py
  piaplib/book/__main__.py
  piaplib/book/version.py
  piaplib/pku/__init__.py
  piaplib/pku/__main__.py
  piaplib/pocket.py
  tests/context.py
  tests/profiling.py
  tests/test_basic.py
  tests/test_book.py
  tests/test_config.py
  tests/test_enc.py
  tox.ini
Due: piaplib, book, pku, tests

Code-style regression fix for PR #75
  piaplib/__init__.py
  piaplib/__main__.py
  piaplib/book/__main__.py
  piaplib/book/version.py
  piaplib/pku/__main__.py
  piaplib/pocket.py
  tests/context.py
  tests/profiling.py
  tests/test_basic.py
  tests/test_book.py
  tests/test_config.py
  tests/test_enc.py
Due: piaplib, book, pku, tests

Corner-case of hard to test boiler-plate code exception
  .coveragerc
  tox.ini
Due: none

#32 cleaned up some code and started refactor to de-coupled logs from configuration
  piaplib/__init__.py
  piaplib/book/ANSIColors.py
  piaplib/book/__init__.py
  piaplib/book/__main__.py
  piaplib/book/logs.py
  piaplib/book/version.py
  piaplib/keyring/__init__.py
  piaplib/keyring/clarify.py
  piaplib/keyring/rand.py
  piaplib/lint/clients_check_status.py
  piaplib/pku/__init__.py
  piaplib/pku/__main__.py
  piaplib/pku/baseconfig.py
  piaplib/pku/compile_interface.py
  piaplib/pku/config.py
  piaplib/pku/interfaces.py
  piaplib/pku/remediation.py
  piaplib/pku/upgrade.py
  piaplib/pku/utils.py
  piaplib/pocket.py
  standards
  tests/profiling.py
  tests/test_basic.py
  tests/test_book.py
  tests/test_enc.py
  tests/test_lint_users.py
  tests/test_pocket.py
  tests/test_usage.py
Due: piaplib, book, keyring, pku, lint, tests

fix for code-style regression
  piaplib/pku/__main__.py
Due: piaplib, pku

FIXED CLI --help logic and #32 major fixes for code style
  piaplib/book/__main__.py
  piaplib/book/logs.py
  piaplib/book/version.py
  piaplib/keyring/__main__.py
  piaplib/keyring/clarify.py
  piaplib/keyring/rand.py
  piaplib/keyring/saltify.py
  piaplib/pku/__init__.py
  piaplib/pku/__main__.py
  piaplib/pku/compile_interface.py
  piaplib/pku/config.py
  piaplib/pku/interfaces.py
  piaplib/pku/upgrade.py
  piaplib/pku/utils.py
  tests/test_usage.py
Due: piaplib, book, keyring, pku, tests

FIXED test to understand '' =~ None
  tests/test_pocket.py
Due: tests
