Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, book, keyring, pku, lint, tests

reactive-firewall/Pocket-PiAP#84 - refactor
  piaplib/pku/utils.py
Due: piaplib, pku

reactive-firewall/Pocket-PiAP#84 - refactor
  piaplib/lint/iface_check_status.py
  piaplib/lint/users_check_status.py
  tests/test_lint_iface.py
  tests/test_usage.py
Due: piaplib, lint, tests

reactive-firewall/Pocket-PiAP#84 - refactor
  piaplib/lint/iface_check_status.py
Due: piaplib, lint

reactive-firewall/Pocket-PiAP#84 - refactor
  piaplib/lint/iface_check_status.py
  tests/test_lint_iface.py
Due: piaplib, lint, tests

reactive-firewall/Pocket-PiAP#84 - refactor done
  piaplib/lint/iface_check_status.py
  piaplib/pku/utils.py
  tests/test_lint_iface.py
  tests/test_usage.py
Due: piaplib, pku, lint, tests

reactive-firewall/Pocket-PiAP#84 - CI regressiong fix
  tests/test_pocket.py
  tests/test_usage.py
Due: tests

reactive-firewall/Pocket-PiAP#84 - CI regressiong fix
  piaplib/lint/iface_check_status.py
Due: piaplib, lint

reactive-firewall/Pocket-PiAP#84 - CI regex regressiong fix
  piaplib/lint/iface_check_status.py
  piaplib/pku/utils.py
Due: piaplib, pku, lint

#59 config change
  .codecov.yml
  Makefile
Due: none

#32 config change
  .codecov.yml
Due: none

#32 config change
  .flake8.ini
  piaplib/__init__.py
  piaplib/__main__.py
  piaplib/book/version.py
  tests/test_lint.py
  tests/test_pocket.py
Due: piaplib, book, tests

#32 regression fix
  piaplib/__main__.py
Due: piaplib

#32 config change - regression fix
  .codecov.yml
  .flake8.ini
  Makefile
Due: none

#32 improved code coverage slightly
  piaplib/pku/utils.py
  tests/test_utils.py
Due: piaplib, pku, tests

#32 improved code coverage slightly
  piaplib/pku/__main__.py
Due: piaplib, pku

#32 improved code coverage slightly - regresion fix
  tests/test_utils.py
Due: tests

#32 improved code coverage slightly
  piaplib/keyring/__main__.py
Due: piaplib, keyring

#32 improved code coverage slightly - regression fix
  piaplib/keyring/__main__.py
Due: piaplib, keyring

#32 improved code coverage slightly - regression fix
  piaplib/pku/__main__.py
Due: piaplib, pku

#32 improved code coverage slightly - regression fix
  tests/test_utils.py
Due: tests

reactive-firewall/PiAP-Webroot#26 - Duplication Regression Bug Fix
  .stickler.yml
  tests/check_codecov_config
  tests/check_spelling
Due: tests

#32 - fix for encrypted byte decode errors
  Makefile
  piaplib/keyring/clarify.py
Due: piaplib, keyring

#61 added config linter test
  .stickler.yml
  .yamllint.conf
Due: none

#61 added config linter test
  .stickler.yml
Due: none

fix regression bug in python 2
  piaplib/keyring/clarify.py
Due: piaplib, keyring

Fixed typo for #62
  .flake8.ini
Due: none

#32 regression bugfix for mac cypher change
  tests/test_enc.py
Due: tests

#62 typo moved to coverage config, must have done this silly thing late at night.
  .coveragerc
  .flake8.ini
Due: none

#64 discovered odd typo
  tests/test_enc.py
Due: tests

debugging path error oddity in CI test
  tests/test_enc.py
Due: tests

regression typo
  standards
Due: none

improved utils
  piaplib/pku/utils.py
Due: piaplib, pku

reactive-firewall/Pocket-PiAP#85 - CI edge case fix
  piaplib/keyring/clarify.py
Due: piaplib, keyring

added some more unit tests
  tests/test_utils.py
Due: tests

added tests for utils
  tests/test_utils.py
Due: tests

added some fixes for more unit tests
  piaplib/pku/utils.py
Due: piaplib, pku

added typo fixes tests for utils
  tests/test_utils.py
Due: tests

added typo fixes tests for utils
  piaplib/pku/utils.py
Due: piaplib, pku

Path conditions:
  piaplib: any of: piaplib/, piaplib/lint, piaplib/pku, piaplib/keyring, piaplib/book
  book: any of: piaplib/book
  keyring: any of: piaplib/keyring
  pku: any of: piaplib/pku
  lint: any of: piaplib/lint
  tests: any of: tests/
