Repository reactive-firewall/PiAP-python-tools: changes, and which Codecov flags are due for each by the changed paths.
All: piaplib, tests

resolved #11 in travis CI
  .travis.yml
Due: none

resolved #11 - added badge
  README.md
Due: none

added config for code coverage
  .coveragerc
Due: none

added config for code coverage - part 2
  .coveragerc
Due: none

slight improvement to code coverage testing
  .coveragerc
  piaplib/__init__.py
  piaplib/lint/check.py
  piaplib/lint/clients_check_status.py
  piaplib/lint/lint.py
  piaplib/pku/__init__.py
  piaplib/pku/logs.py
Due: piaplib

removed exception branch from code coverage tests ... for now
  .coveragerc
  tests/test_usage.py
Due: tests

minor change to test-cases.
  tests/test_config.py
  tests/test_usage.py
Due: tests

Update README.md
  README.md
Due: none

added more testing
  tests/test_config.py
Due: tests

changed error code
  piaplib/pku/pku.py
Due: piaplib

added a space for PEP8 style
  tests/test_usage.py
Due: tests

fixed test cases
  piaplib/keyring/rand.py
  piaplib/pku/remediation.py
  tests/test_strings.py
Due: piaplib, tests

fix for rand int with python2.7
  piaplib/keyring/rand.py
  piaplib/pku/utils.py
Due: piaplib

fix for randInt
  piaplib/keyring/rand.py
Due: piaplib

fix for rand int with python2.7
  piaplib/keyring/rand.py
Due: piaplib

debug for rand bool
  piaplib/keyring/rand.py
Due: piaplib

debug for rand args
  piaplib/keyring/rand.py
Due: piaplib

improved testing and posible fix for rand
  .travis.yml
  piaplib/keyring/rand.py
  piaplib/lint/do_execve.py
  piaplib/pku/pku.py
  piaplib/pku/remediation.py
  piaplib/pku/upgrade.py
  piaplib/pku/utils.py
  tests/test_rand.py
Due: piaplib, tests

debug for rand args
  piaplib/book/__init__.py
  piaplib/book/book.py
  piaplib/book/logs.py
  piaplib/keyring/rand.py
  piaplib/lint/check.py
  piaplib/lint/iface_check_status.py
  piaplib/pku/pku.py
  piaplib/pku/remediation.py
  piaplib/pku/utils.py
  piaplib/pocket.py
  tests/test_usage.py
Due: piaplib, tests

debug for rand int count
  piaplib/keyring/rand.py
Due: piaplib

more debug of testing
  Makefile
  piaplib/lint/clients_check_status.py
  tests/__init__.py
  tests/test_pocket.py
  tests/test_rand.py
  tests/test_usage.py
  tests/test_utils.py
Due: piaplib, tests

added coverage to tox
  piaplib/lint/check.py
  tests/test_pocket.py
  tox.ini
Due: piaplib, tests

more error handling for check clients
  piaplib/lint/clients_check_status.py
Due: piaplib

debug rand for #26
  piaplib/keyring/rand.py
  piaplib/pku/utils.py
Due: piaplib

debug rand for #26
  setup.py
  tests/test_salt.py
Due: tests

debug rand for #26
  tox.ini
Due: none

debug of tox coverage tests
  tox.ini
Due: none

fixed testing null value test case in discovered string fuzzing testcase
  piaplib/pku/utils.py
  tests/test_rand.py
  tests/test_strings.py
Due: piaplib, tests

debug part of #26
  .travis.yml
  piaplib/pku/pku.py
Due: piaplib

debug part of #26
  piaplib/__init__.py
  piaplib/pku/remediation.py
  tests/test_html.py
Due: piaplib, tests

debug part of #26
  piaplib/pku/utils.py
Due: piaplib

debug part of #26
  piaplib/pku/utils.py
  tests/test_strings.py
Due: piaplib, tests

debug part of #26
  .travis.yml
Due: none

more changes for #26
  .travis.yml
  tests/test_strings.py
Due: tests

more changes for #26
  tests/test_strings.py
  tox.ini
Due: tests

more changes for #26
  piaplib/book/logs.py
  tests/test_strings.py
  tests/test_utils.py
  tox.ini
Due: piaplib, tests

more changes for #26
  tests/test_salt.py
Due: tests

more changes for #26
  tests/test_rand.py
Due: tests

more changes for #26
  piaplib/keyring/rand.py
Due: piaplib

more changes for #26
  piaplib/lint/iface_check_status.py
  piaplib/pku/remediation.py
  tests/test_utils.py
Due: piaplib, tests

Path conditions:
  piaplib: any of: piaplib/, piaplib/lint, piaplib/pku, piaplib/keyring
  tests: any of: tests/
